button {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 320px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #8F54EA;
    background: #8F54EA;
    background: linear-gradient(100deg, #5E69E7 30%, #845AEA 70%, #8F54EA 100%);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #8F54EA;
}