.links {
    position: absolute;
    line-height: 27px;
    margin-top: -5%;
    margin-left: 0px;
    color: #898A9C;
    font-size: 15px;
    
}
.checkbox {
    line-height: 10px;
    width: 15px;   
    
}
.forgot-password {
    color: silver;
    text-decoration: none;
    font-size: 15px;
    margin-left: 95px;
} 
