body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #8F54EA;
    background: #8F54EA;
    background: linear-gradient(100deg, #5E69E7 30%, #845AEA 70%, #8F54EA 100%);
}
main {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80vh;
    position: relative;
    margin-top: 85px;
    margin-left: 190px;
}
.left {
    width: 35%;
    height: 80vh;
    position: absolute;
    margin-top: 0;
    margin-left: 0%;
    background-color: white;
    border-radius: 10px;
}
.center {
    width: 35%;
    height: 80vh;
    position: absolute;
    margin-top: 0;
    margin-left: 37%;
    background-color: white;
    border-radius: 10px;
}
.right {
    float: right;
    width: 35%;
    height: 80vh;
    position: absolute;
    margin-top: 0;
    margin-left: 74%;
    background-color: white;
    border-radius: 10px; 
}
h1 {
    color: #BEBCE5;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
p {
    color: silver;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    line-height: 20px;
    word-spacing: 9px;
}
